* {
  font-family: helvetica;
}
h1 {
  font-weight: 200;
  text-align: right;
  padding: 0 20px;
}

svg {
    margin: 20px auto 10px;
}
.node-group {
  cursor: pointer;
}

.link {
  fill: none;
  stroke-width: 6;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
